<div id="search-component" style="width: 700px;">

    <input #searchBox id="search-box" class="form-control mr-sm-2"
           placeholder="Search tab view name" type="text" [(ngModel)]="queryString"/>
</div>

<!--Table Data -->
<div class="align-baseline" style="margin-top: 20px">
  <div class="row">
      <div class="col-md-11 col-md-offset0">
        <table id="dtOrderExample" class="table table-bordered table-hover">
            <thead>
            <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Created</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
          <tbody class="search-result">
          <tr *ngFor="let tab of tabviews | tabViewSearch: queryString" routerLink="/detail/{{tab.entityId}}"
              class="survey_data">
              <td class="survey_id">{{tab.entityId }}</td>
              <td>{{ tab.label }}</td>
              <td>10/10/19</td>
              <td>Draft</td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<hr>
<footer class="container">
  <p>&copy; PatientPal 2019</p>
</footer>
