#wrapper {
    width: 100%;
    border: 0.1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#questions {
    width: 50%;
    float:left; /* add this */
    padding-left: 2%;
    border: 1px solid black;
}
#assessments {
    border: 2px solid;
    border-radius: 5px;
    width: 95%;
}

#preview {
    /*border: 1px solid black;*/
    padding-left: 3%;
    overflow: hidden;
    float: left;
    width: 45%;
}
#heading {
    width: 100%;
}

.choiceLabel {
    width: 70%;
}

#selectManyBtn {
    float: right;
}

#selectTxtBtn {
    float: right;
}

#selectRadio {
    float: right;
}

#selectNumber {
    float: right;
}

#selectOneBtn {
    float: right;
}

#checkBox {
    float: right;
}

#saveBtn {
    float: bottom;
}
