#wrapper {
    width: 100%;
    margin-top: 3%;
    overflow: hidden; /* will contain if #first is longer than #second */
    /*box-shadow: 0px 0px 10px #b7b7b7;*/

}

.navbar {
    height: 45px;
    padding: 0 0 0;
}

.collapse {
    height: 100%;
    width: 100%;
}

.nav-item {
    margin: 3px;
    /*border-bottom: 1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
    /*border-left: 1px solid lightgray;*/
}

.nav-icons {
    height: 20px;
    width: 20px;
}

#toolbar {
    box-shadow: 0px 0px 5px #b4b4b4;
    background: #f5f5f5;
    display: flex;
    padding-bottom: 0.5%;
}
#toolbarItems {
    margin-top: 0.4%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0.1%;
}

#sTitle {
    margin-left: 3%;
    /*width: 40%;*/
}

#questions {
    /*margin-top: 1%;*/
    width: 45%;
    float:left; /* add this */
    /*box-shadow: 0px 0px 3px #c7c7c7;*/
}

#assessments {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 1%;
    width: 97%;
    box-shadow: 0px 0px 5px #b4b4b4;

}

#preview {
    /*border: 1px solid black;*/
    padding-left: 1%;
    overflow: hidden;
    float: left;
    width: 50%;
}
#heading {
    width: 100%;
}

.choiceLabel {
    width: 70%;
}

#imgView {
    flex: .1;
}
.title-div {
    padding: 10px;
    display: flex;
    height: 50px;
}

.title-div-child1 {
    flex: .1;
    padding-top: 7px;
    margin-left: 3px;
}

.title-div-child2 {
    flex: 2;
    text-align: left;
}



#btn-div-1 {
    /*padding: 1px;*/
    margin-top: 2%;
    margin-right: 1%;
    padding-bottom: 1%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

#btn-div-2 {
    /*padding: 1px;*/
    margin-top: 2%;
    margin-right: 1%;
    padding-bottom: 1%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

#option-div-parent1 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#option-div-parent2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#option-div-child {
    display: flex;
}

#p-title {
    margin-bottom: 0;
}


/*#submit-div {*/
/*    padding: 10px;*/
/*    display: flex;*/
/*}*/

/*#submit-div2 {*/
/*    display: flex;*/
/*    padding: 10px;*/
/*}*/

.submit-child {
    margin-right: 15px;
}

#nav2 {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.input-group-append {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
