#wrapper {
    width: 100%;
    border: 0.1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#questions {
    width: 50%;
    float:left; /* add this */
    padding-left: 2%;
    border: 1px solid black;
}
#assessments {
    border: 2px solid;
    border-radius: 5px;
    width: 95%;
}

#preview {
    /*border: 1px solid black;*/
    padding-left: 3%;
    overflow: hidden;
    float: left;
    width: 45%;
}
#heading {
    width: 100%;
}

.choiceLabel {
    width: 70%;
}

#ass5 {

}

#ass4 {
    border: 1px solid blue;
}

#btn-div-1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#option-div-parent {
    padding: 10px;
}

#option-div-child {
    display: flex;
}

#selectRadio, #checkBox, #selectOneBtn, #selectManyBtn {
    border: none;
    background-color: #016fbe;
}

#saveBtn, #optional, #mandatory {
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 3px;
    border: none;
    background-color: #016fbe;
}
