

<div class="row justify-content-center">
    <div class="col-lg-10 position-fixed" id="toolbar">
        <div class="box" id="toolbarItems">
            <button class="btn" routerLink="/tab-views">
                <div>
                    <img class="nav-icons" src="assets/icons/back.svg">
                </div>
            </button>
            <button class="btn" (click)="saveSurvey()">
                <div>
                    <img class="nav-icons" src="assets/icons/save.svg">
                </div>
            </button>
            <button class="btn" (click)="exportAsXLSX()">
                <div>
                    <img class="nav-icons" src="assets/icons/export.svg">
                </div>
            </button>
            <div class="submit-child">
                <button class="btn" id="exp-btn" (click)="deploy()">
                    <img class="nav-icons" src="assets/icons/deployed.svg">
                </button>
            </div>
            <div class="submit-child">
                <button class="btn " id="exp-btn1" (click)="setSurveyData(true)"
                        routerLink="/preview/{{survey.tabId}}">
                    Preview
                </button>
            </div>
            <div>
                <button class="btn" (click)="submit()">
                    Submit
                </button>
            </div>

            <div *ngIf="survey" id="sTitle">
                <div class="col-lg-12">
                    <div class="input-group mb-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Survey Title</span>
                        </div>
                        <input type="text" class="form-control" [value]="survey.tabDesc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div>

    <div id="wrapper" *ngIf="survey">

        <div id="questions">
            <cdk-virtual-scroll-viewport  style="height: 90vh" itemSize="90" >
            <form (ngSubmit)="saveSurvey()" id="form">
                <div *ngFor="let assessments of survey.assessments; let i = index" id="assessments">
                    <div class="title-div">
                        <div id="imgView">
                            <img src="assets/logo.png" width="30" height="30" class="rounded float-left" alt="">
                        </div>
                        <div class="title-div-child1">
                            <p style="font-weight: bold">{{i + 1}}.</p>
                        </div>
                        <div class="title-div-child2">
                            <input class="form-control" [value]="assessments.assessmentDesc" [attr.id]=assessments.id style="font-weight: bold">
                        </div>
                    </div>

                    <!--Assessment 5-->
                    <div id="ass5" *ngIf="assessments.asessmentType.toString() === '5'">

                        <div id="option-div-parent1" *ngFor="let choices of assessments.choices let x = index">
                            <div id="option-div-child">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Option {{x + 1}}</span>
                                </div>
                                <textarea [value]="choices.choiceDesc" [attr.id]=assessments.choices[x].id
                                       class="form-control" rows="2">
                                </textarea>
                            </div>
                        </div>
                        <div id="btn-div-1">

                            <div class="submit-child">
                                <button (click)="saveQuestion(i, false)" id="saveBtn" class="btn btn-outline-primary">Save
                                    Question
                                </button>
                            </div>
                            <div class="submit-child">
                                <button (click)="saveQuestion(i, false)" id="mandatory" class="btn btn-outline-primary">
                                    Mandatory
                                </button>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Question Types
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Radio</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
<!--                            <div>-->
<!--                                <button (click)="preview.createRadioGroup(i)" id="selectRadio"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Radio-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button (click)="preview.createCheckBox(i)" id="checkBox"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Checkbox-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button (click)="preview.createSelect(i)" id="selectOneBtn"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Select-->
<!--                                    One-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button (click)="preview.createSelectMany(i)" id="selectManyBtn"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Select Many-->
<!--                                </button>-->
<!--                            </div>-->
                        </div>
                    </div>


                    <!--Assessment 4-->
                    <div id="ass4" *ngIf="assessments.asessmentType.toString() === '4'">
                        <div id="option-div-parent2">
                        </div>
                        <div id="btn-div-2">
                            <div class="submit-child">
                                <button (click)="saveQuestion(i, false)" id="saveBtn" class="btn btn-outline-primary">Save
                                    Question
                                </button>
                            </div>
                            <div class="submit-child">
                                <button (click)="saveQuestion(i, false)" id="mandatory" class="btn btn-outline-primary">
                                    Mandatory
                                </button>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Question Types
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Radio</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
<!--                            <div class="submit-child">-->
<!--                                <button (click)="preview.createText(i)" id="selectTxtBtn" class="btn btn-primary">Text-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="submit-child">-->
<!--                                <button (click)="preview.createNumber(i)" id="selectNumber" class="btn btn-primary">-->
<!--                                    Number-->
<!--                                </button>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
            </form>
            </cdk-virtual-scroll-viewport>
        </div>
        <div>
            <div id="preview" *ngIf="survey">
                <cdk-virtual-scroll-viewport  style="height: 90vh" itemSize="90" >
                    <app-preview></app-preview>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </div>
</div>
