<div class="navigation" *ngIf="survey">
    <button class="btn toolbar-item" routerLink="/tab-views">
        Return
    </button>
    <button class="btn toolbar-item" id="exp-btn1" (click)="setSurveyData(true)"
            routerLink="/preview/{{survey.tabId}}">
        Preview
    </button>

    <button class="btn toolbar-item" (click)="submit()">
        Save
    </button>
    <button class="btn toolbar-item" (click)="exportAsXLSX()">
        Export
    </button>
    <button class="btn toolbar-item" id="exp-btn" (click)="deploy()">
        Deploy
    </button>
    <mat-slide-toggle style="margin-top: 0.9%; margin-left: 0.9%"
                      class="tp-margin"
                      [checked]="checked"
                      [disabled]="disabled"
                      (change)="setToggle()"
                      color="primary">
        Live Preview
    </mat-slide-toggle>
    <div class="col-lg-7 toolbar-title" *ngIf="survey">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Survey Title</span>
            </div>
            <input type="text" class="form-control" id="surveyTitle" [value]="survey.tabDesc" style="font-weight: bold">
        </div>
    </div>

</div>
<br>
<div>
    <div id="wrapper" *ngIf="survey">
        <div id="questions" [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
            <cdk-virtual-scroll-viewport style="height: 90vh" itemSize="90" >
                <form (ngSubmit)="saveSurvey()" id="form">
                    <div *ngFor="let assessments of survey.assessments; let i = index" id="assessments">
                        <div class="title-div">
                            <div class="imgView" *ngIf="assessments.asessmentType.toString() === '5'">
                                <img src="assets/icons/select.png" width="24" height="24" class="rounded float-left"
                                     alt="">
                            </div>
                            <div class="imgView" *ngIf="assessments.asessmentType.toString() === '4'">
                                <img src="assets/icons/texts.png" width="24" height="24" class="rounded float-left"
                                     alt="">
                            </div>
                            <div class="title-div-child1">
                                <p style="font-weight: bold">{{i + 1}}.</p>
                            </div>
                            <div class="title-div-child2">
                                <input class="form-control" [value]="assessments.assessmentDesc" [attr.id]=assessments.id style="font-weight: bold">
                            </div>
                        </div>

                        <!--Assessment 5-->
                        <div id="ass5" *ngIf="assessments.asessmentType.toString() === '5'">

                            <div id="option-div-parent1" *ngFor="let choices of assessments.choices let x = index">
                                <div id="option-div-child">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Option {{x + 1}}</span>
                                    </div>
                                    <textarea [value]="choices.choiceDesc" [attr.id]=assessments.choices[x].id
                                              class="form-control" rows="2">
                                </textarea>
                                </div>
                            </div>
                            <div id="btn-div-1">

                                <div class="submit-child">
                                    <button (click)="saveQuestion(i, false)" id="saveBtn" class="btn btn-outline-primary">Save
                                        Question
                                    </button>
                                </div>
                                <div class="submit-child">
                                    <button (click)="saveQuestion(i, false)" id="mandatory" class="btn btn-outline-primary">
                                        Mandatory
                                    </button>
                                </div>
                                <button class="btn btn-outline-primary " type="button" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    Change Field
                                </button>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
<!--                            <div>-->
<!--                                <button (click)="preview.createRadioGroup(i)" id="selectRadio"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Radio-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button (click)="preview.createCheckBox(i)" id="checkBox"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Checkbox-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button (click)="preview.createSelect(i)" id="selectOneBtn"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Select-->
<!--                                    One-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button (click)="preview.createSelectMany(i)" id="selectManyBtn"-->
<!--                                        class="btn btn-outline-primary">-->
<!--                                    Select Many-->
<!--                                </button>-->
<!--                            </div>-->
                            </div>
                        </div>


                        <!--Assessment 4-->
                        <div id="ass4" *ngIf="assessments.asessmentType.toString() === '4'">
                            <div id="option-div-parent2">
                            </div>
                            <div id="btn-div-2">
                                <div class="submit-child">
                                    <button (click)="saveQuestion(i, false)" id="saveBtn" class="btn btn-outline-primary">Save
                                        Question
                                    </button>
                                </div>
                                <div class="submit-child">
                                    <button (click)="saveQuestion(i, false)" id="mandatory" class="btn btn-outline-primary">
                                        Mandatory
                                    </button>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Question Types
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Radio</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
<!--                            <div class="submit-child">-->
<!--                                <button (click)="preview.createText(i)" id="selectTxtBtn" class="btn btn-primary">Text-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="submit-child">-->
<!--                                <button (click)="preview.createNumber(i)" id="selectNumber" class="btn btn-primary">-->
<!--                                    Number-->
<!--                                </button>-->
<!--                            </div>-->
                            </div>
                        </div>

                    </div>
                </form>
            </cdk-virtual-scroll-viewport>
        </div>
        <ng-container>
            <div id="preview" [@openPreview]="isOpen ? 'hidden' : 'visible'">
                <cdk-virtual-scroll-viewport style="height: 90vh" itemSize="90">
                    <app-preview></app-preview>
                </cdk-virtual-scroll-viewport>
            </div>
        </ng-container>
    </div>
</div>
