.tab-view {
  border-collapse: collapse;
  display:inline-block;
  border:0.3px solid #000;
  width: 95%;
}

.tab-info {
  border-collapse: collapse;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  overflow: hidden;
  background-color: #8f8f8f;
}
.tab-controls {
  float: right;
}
.tabControlBtn{
  display: block;
  color: white;
  height: 100px;
  width: 150px;

  text-align: center;
  padding-bottom: 90px;
}
.questionBox {
  border-collapse: collapse;
  display:inline-block;
  border:0.3px solid #000;
  width: 50%;
}
.questionName {
  width: 75%;
  height: 30px;
  border-bottom: 1px solid black;
}
.surveyName {
  border: none;
}
