<div id="wrapper">
    <div id="questions">
        <h2>{{questionType[0].tabViewLabel}}</h2>
        <form (ngSubmit)="submit()" id="form">
            <div *ngFor="let assessments of survey.assessments; let i = index" id="assessments">
                <input [value]="assessments.assessmentDesc" id="heading">

                <div *ngIf="assessments.assessmentType.toString() === '5'">
                    <button (click)="preview.createSelect(i)" id="selectManyBtn"> Select Many</button>
                        <div *ngFor="let choices of assessments.choices">
                            <label>Choice: </label> <input [value]="choices.choiceDesc" id="choice"/>
                        </div>
                </div>
                <div *ngIf="assessments.assessmentType.toString() === '4'">
                    <button (click)="preview.createText(i)" id="selectTxtBtn"> Text Field</button>
                </div>
            </div>
            <button (click)="submit()">Submit </button>
        </form>
        <br> {{temp}}<br>
        <button (click)="goBack()">Go Back</button>
        <button (click)="saveSurvey()">Save & Exit</button>
    </div>

    <div id="preview">
        <app-preview [survey] = "survey"></app-preview>
    </div>
</div>


