#wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#questions {
    width: 50%;
    float:left; /* add this */
    border: 1px solid black;
}
#assessments {
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
}

#preview {
    /*border: 1px solid black;*/
    padding-left: 3%;
    overflow: hidden;
    float: left;
    width: 45%;
}
