<h2>{{questionType[0].tabViewLabel}}</h2>
<div id="wrapper">
    <div id="questions">
        <form (ngSubmit)="submit()" id="form">
            <div *ngFor="let assessments of survey.assessments; let i = index" id="assessments">
                <input class="form-control" [value]="assessments.assessmentDesc" [attr.id]="'heading' + [i]">
                <div *ngIf="assessments.assessmentType.toString() === '5'">
                    <button (click)="preview.createSelect(i)" id="selectManyBtn" class="btn-light"> Select Many</button>
                    <div *ngFor="let choices of assessments.choices let x = index">
                        <label>Option {{x + 1}}</label>
                        <input [value]="choices.choiceDesc" [attr.id]="'choice' + [x]" class="form-control"/>
                    </div>
                </div>
                <div *ngIf="assessments.assessmentType.toString() === '4'">
                    <button (click)="preview.createText(i)" id="selectTxtBtn"> Text Field</button>
                </div>
            </div>
            <button (click)="submit()">Submit </button>
        </form>
        <!--        <br> <h3>{{temp}}</h3><br>-->
        <!--        <br> <h3>{{test}}</h3><br>-->
        <button (click)="goBack()">Go Back</button>
        <button (click)="saveSurvey()">Save & Exit</button>
        <br>{{payload}}<br>
    </div>

    <div id="preview">
        <app-preview [survey] = "survey"></app-preview>
    </div>
</div>


