<div class="container">
    <div class="form-group" [formGroup]="form" id="form">
        <b><label [attr.for]="question.key">{{question.label}}</label></b>
        <script>$('.alert').alert()</script>

        <div [ngSwitch]="question.controlType" style="margin-bottom: 3%; width: 70vh; height: 100%" id="inputs">
            <!--TextBox-->
            <div *ngSwitchCase="'textbox'">

                <textarea class="form-control" [formControlName]="question.key"
                          [id]="question.key"
                          style="display: block;"
                          rows="2"></textarea>
            </div>

            <!--DropDown-->
            <div *ngSwitchCase="'dropdown'">
                <select class="form-control" [id]="question.key" [formControlName]="question.key"
                        style="display: block;" name="dropdown">
                    <option *ngFor="let opt of question.options" [value]="opt.key" id="drop">{{opt.value}}</option>
                </select>
            </div>

            <!--Radio-->
            <div *ngSwitchCase="'radio'">
                <div *ngFor="let opt of question.options">
                    <input type="radio"
                           [formControlName]="question.key"
                           [id]="question.key"
                           [name]="question.key"
                           [value]="opt.key"
                           id="radioBtn"
                           style="margin-bottom: 3%"
                           name="name">
                    <label>{{opt.value}}</label>
                </div>
            </div>

            <!--NumberField-->
            <div *ngSwitchCase="'number'">
                <input class="form-control" [formControlName]="question.key"
                       [id]="question.key" [type]="question.type" id="number">
            </div>

            <ngb-alert class="alert-danger" *ngIf="!isValid">
                {{question.label}} is required
            </ngb-alert>
        </div>
    </div>
</div>
