<div class="container">
    <div [formGroup]="form" id="form">
        <b><label [attr.for]="question.key">{{question.label}}</label></b>

        <div [ngSwitch]="question.controlType" id="inputs">
            <!--TextBox-->
            <div *ngSwitchCase="'textbox'" style="margin-bottom: 24%;">
                <input class="form-control" [formControlName]="question.key"
                       [id]="question.key" [type]="question.type" ngModel="{{question.label}}"
                >

            </div>

            <!--DropDown-->
            <div *ngSwitchCase="'dropdown'">
                <select class="form-control" [id]="question.key" [formControlName]="question.key"
                        style="display: block; width: 20vw;">
                    <option *ngFor="let opt of question.options" [value]="opt.key" id="drop">{{opt.value}}</option>
                </select>
            </div>

            <!--Radio-->
            <div *ngSwitchCase="'radio'">
                <div *ngFor="let opt of question.options">
                    <input type="radio"
                           [formControlName]="question.key"
                           [id]="question.key"
                           [name]="question.key"
                           [value]="opt.key"
                           id="radioBtn"
                           checked>
                    <label>{{opt.value}}</label>
                </div>
            </div>

            <!--NumberField-->
            <div *ngSwitchCase="'number'">
                <input class="form-control" [formControlName]="question.key"
                       [id]="question.key" [type]="question.type" id="number">
            </div>

            <div class="errorMessage" class="alert-danger" *ngIf="!isValid">{{question.label}} is required</div>
        </div>
    </div>
</div>
