<div id="wrapper">
    <div class="align-baseline" style="margin-top: 20px; width: 95%; margin-left: 2.5%">
        <cdk-virtual-scroll-viewport style="height: 89vh;" itemSize="90" id="scrollView">
            <div class="row">
                <div class="col-md-12 col-md-offset0">
                    <table id="dtOrderExample" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="title">Version ID</th>
                            <th scope="col" class="title">Status</th>
                            <th scope="col" class="title">Timestamp</th>
                        </tr>
                        </thead>
                        <tbody class="search-result">
                        <tr *ngFor="let tab of versions"
                            routerLink="/detail/{{tab.tabid}}"
                            class="survey_data">
                            <td class="survey_status">{{tab.id}}</td>
                            <td class="survey_status">{{tab.revisionStatus}}</td>
                            <td class="survey_timestamp">{{tab.revisionTimestamp}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
