.main {
  /*margin-left: 160px; !* Same as the width of the sidebar *!*/
    /*padding-left: 10%;*/
}

body {
  overflow-x: hidden;
  background-color: #f7f9f9;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

/*#page-content-wrapper {*/
/*  min-width: 100vw;*/
/*    padding-left: 1%;*/
/*    padding-right: 1%;*/
/*    padding-bottom: 1%;*/
/*}*/

