<body>
<head>


</head>

<!--Dashboard (Top Nav)-->
<app-dashboard></app-dashboard>

<div class="d-flex flex-row" id="wrapper">
    <!-- Side navbar -->
    <app-nav-bar></app-nav-bar>
    <!-- Page Content -->
    <div id="page-content-wrapper" class=" p-0">
        <router-outlet class="flex-fill"></router-outlet>
    </div>
</div>


<!-- Menu Toggle Script -->
<script>
    $('#menu-toggle').click(function (e) {
        e.preventDefault();
        $('#menu-toggle').text('Show');
        $('#wrapper').toggleClass('toggled');
    });
</script>
</body>
