.main {
  /*margin-left: 160px; !* Same as the width of the sidebar *!*/
    /*padding-left: 10%;*/
}

body {
    overflow: hidden;
    background-color: #fdffff;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.wrapper {
    margin: 25px auto;
    max-width: 600px;
    text-align: center;
    padding: 0 20px;
}

.container {
    width: 45%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.assessment-list {
    width: 80%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: inline-block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 25px;
}

.assessment-item {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.assessment-item:last-child {
    border: none;
}

.movie-list.cdk-drop-list-dragging .assessment-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*#page-content-wrapper {*/
/*  min-width: 100vw;*/
/*    padding-left: 1%;*/
/*    padding-right: 1%;*/
/*    padding-bottom: 1%;*/
/*}*/

