<div class=" border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <div class="sidebar-heading " id="header">
        <button id="import-button" class="btn btn-primary" (click)="openDialog()">Import</button>
      </div>
      <a href="#" class="list-group-item list-group-item-action " routerLink="/tab-views">
      <div class="nav-div-parent">
        <div class="nav-div-child1">
          <img class="nav-icons" src="assets/icons/clipboard.png">
        </div>
        <div class="nav-div-child2">
          <p class="nav-div-child2p">Tab Views</p>
        </div>
      </div>
    </a>
      <a href="#" class="list-group-item list-group-item-action " routerLink="/deployed-surveys">
      <div class="nav-div-parent">
        <div class="nav-div-child1">
          <img class="nav-icons" src="assets/icons/rockit.png">
        </div>
        <div class="nav-div-child2">
          <p class="nav-div-child2p">Deployed</p>
        </div>
      </div>
    </a>
      <a href="#" class="list-group-item list-group-item-action" routerLink="/drafts">
      <div class="nav-div-parent">
        <div class="nav-div-child1">
          <img class="nav-icons" src="assets/icons/edit.png">
        </div>
        <div class="nav-div-child2">
          <p class="nav-div-child2p">Draft</p>
        </div>
      </div>
    </a>
      <a href="#" class="list-group-item list-group-item-action ">
      <div class="nav-div-parent">
        <div class="nav-div-child1">
          <img class="nav-icons" src="assets/icons/archive.png">
        </div>
        <div class="nav-div-child2">
          <p class="nav-div-child2p">Archived</p>
        </div>
      </div>
    </a>
      <a href="#" class="list-group-item list-group-item-action ">
      <div class="nav-div-parent">
        <div class="nav-div-child1">
          <img class="nav-icons" src="assets/icons/box.png">
        </div>
        <div class="nav-div-child2">
          <p class="nav-div-child2p">My Library</p>
        </div>
      </div>
    </a>
  </div>
</div>
