#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}


#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.list-group-item {
    padding-top: 0%;
    padding-bottom: 0%;
}

.nav-div-parent {
    display: flex;
    height: 40px;
}

.nav-div-child1 {
    flex: .2;
    padding: 7px 0px;
}

.nav-div-child2 {
    flex: 1;
    padding: 7px 0px;
}

.nav-div-child2p {
    margin-left: 3%;
    font-family: Arial;
}

.nav-icons {
    height: 25px;
    width: 25px;
}
