/*#wrapper {*/
/*    !*margin-top: 1%;*!*/
/*    width: 100%;*/
/*    height: 90vh;*/
/*    font-style: normal;*/
/*}*/


/*#questions {*/
/*    !*margin-top: 1%;*!*/
/*    !*width: 100%;*!*/
/*    width: 100%;*/
/*    float: left; !* add this *!*/
/*    !*box-shadow: 0px 0px 3px #c7c7c7;*!*/
/*}*/

/*!* Medium screens *!*/
/*@media all and (max-width: 800px) {*/
/*    .navigation {*/
/*        !* When on medium sized screens, we center it by evenly distributing empty space around items *!*/
/*        justify-content: space-around;*/
/*    }*/
/*}*/

/*!* Small screens *!*/
/*@media all and (max-width: 500px) {*/
/*    .navigation {*/
/*        !* On small screens, we are no longer using row direction but column *!*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

/*.navigation {*/
/*    padding-left: 1%;*/
/*    padding-right: 1%;*/
/*    box-shadow: 0px 0px 10px #b4b4b4;*/
/*    background: #f5f5f5;*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    align-items: flex-start;*/
/*    justify-content: flex-start;*/
/*    flex-direction: row;*/
/*    z-index: 500;*/
/*    !*margin-top: 0.4%;*!*/
/*    !*margin-bottom: 0.1%;*!*/
/*}*/

/*.toolbar-title {*/
/*    padding-top: 0.5%;*/
/*}*/

/*.toolbar-item {*/
/*    !*padding-bottom: 0.1%;*!*/
/*    margin-top: 0.5%;*/
/*    margin-right: 0.2%;*/
/*    background: none;*/
/*}*/


/*@media (min-width: 700px) {*/
/*    #questions {*/
/*        margin-left: 0;*/
/*    }*/

/*    #wrapper.toggled #questions {*/
/*        margin-left: -15rem;*/
/*    }*/
/*}*/


/*!* Medium screens *!*/
/*@media all and (max-width: 800px) {*/
/*    .navigation {*/
/*        !* When on medium sized screens, we center it by evenly distributing empty space around items *!*/
/*        justify-content: space-around;*/
/*    }*/
/*}*/

/*!* Small screens *!*/
/*@media all and (max-width: 500px) {*/
/*    .navigation {*/
/*        !* On small screens, we are no longer using row direction but column *!*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

/*#assessments {*/
/*    margin-top: 0.5%;*/
/*    margin-bottom: 2%;*/
/*    border-radius: 5px;*/
/*    margin-left: 2%;*/
/*    margin-right: 1%;*/
/*    width: 97%;*/
/*    padding: 10px;*/
/*}*/

/*.form-control {*/
/*    font-weight: bold;*/
/*}*/

.DistressThermometer {
    /*
    background-color: #999999;
    *
     */
    	grid-column: 1;
	grid-row: 1;
	z-index: -1;
    min-height: max-content;
    width: border-box;
    font-size: 1em;
    border: 0;
    border-radius: 75px;
    overflow: hidden;
    /*
    background: -webkit-linear-gradient(
            90deg,
            #0ef49b 0%,
            #d2dc69 30%,
            #faa04b 70%,
            #ff5a64 100%
    );
    background: -moz-linear-gradient(
            90deg,
            #0ef49b 0%,
            #d2dc69 30%,
            #faa04b 70%,
            #ff5a64 100%
    );
    background: -o-linear-gradient(
            90deg,
            #0ef49b 0%,
            #d2dc69 30%,
            #faa04b 70%,
            #ff5a64 100%
    );
    background: -ms-linear-gradient(
            90deg,
            #0ef49b 0%,
            #d2dc69 30%,
            #faa04b 70%,
            #ff5a64 100%
    );
    */
    background: linear-gradient(
            0deg,
            #0ef49b 0%,
            #d2dc69 30%,
            #faa04b 70%,
            #ff5a64 100%
    );

    color: #000000


}

.DTContainer {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 0.1em;
    width: 80%;
    margin: auto;
}

.DTContainer div {
    font-size: 1em;
    color: black;
}

.firstColumn {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}

.secondColumn {
    grid-row: 1;
    grid-column: 2;

}
