<h4>{{tabView.label}}</h4>
<div id="wrapper" *ngIf="tabView">

    <div id="questions">
        <hr>
        <hr>
        <div id="assessments">
            <div *ngFor="let assessment of tabView.assessments">
                <p>{{assessment.assessmentLabel}}</p>


                <div class="textInput" *ngIf="assessment.assessmentType == 4">
                    <input [(ngModel)]="assessment.assessmentAnswer" name="{{assessment.assessmentUuid}}"
                           title="{{assessment.description}}" type="text">
                </div>

                    <div *ngIf="assessment.displayType==='DistressThermometer'" class="DTContainer">
                        <div class="DistressThermometer firstColumn">
                        <div *ngFor="let choice of assessment.choices">
                            <!--
                            <label class="{{assessment.assessmentDisplayType}}">
                            -->
                            <label>
                                    <input [(ngModel)]="assessment.assessmentAnswer" type="radio"
                                           name="{{assessment.assessmentUuid}}"
                                           value="{{choice.label}}" class="assessmentChoices"
                                           title="{{assessment.description}}">
                            </label>
                            </div>
                        </div>
                        <div>
                            <div *ngFor="let choice of assessment.choices" class="assessmentQuestion">

                            <div class="secondColumn">
                                <p>
                                {{choice.description}}
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Radio Buttons -->
                    <div class="{{assessment.displayType}}"
                         *ngIf="assessment.displayType==='Radio'">
                        <div *ngFor="let choice of assessment.choices" class="assessmentQuestion">
                            <label>
                                <input [(ngModel)]="assessment.assessmentAnswer" type="radio"
                                       name="{{assessment.assessmentUuid}}"
                                       value="{{choice.label}}" class="assessmentChoices"
                                       title="{{assessment.description}}">
                                {{choice.description}}
                            </label>
                        </div>
                    </div>
                </div>
                <p></p>
                <hr>
            </div>
        </div>
    </div>
<div class="submitButtonWrapper">
    <input type="submit" name="survey-submit" value="Submit Survey">
</div>
