#wrapper {
    /*margin-top: 1%;*/
    width: 100%;
}


#questions {
    /*margin-top: 1%;*/
    /*width: 100%;*/
    width: 100%;
    float: left; /* add this */
    /*box-shadow: 0px 0px 3px #c7c7c7;*/
}

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.navigation {
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 10px #b4b4b4;
    background: #f5f5f5;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 500;
    /*margin-top: 0.4%;*/
    /*margin-bottom: 0.1%;*/
}

.toolbar-title {
    padding-top: 0.5%;
}

.toolbar-item {
    /*padding-bottom: 0.1%;*/
    margin-top: 0.5%;
    margin-right: 0.2%;
    background: none;
}


@media (min-width: 700px) {
    #questions {
        margin-left: 0;
    }

    #wrapper.toggled #questions {
        margin-left: -15rem;
    }
}


/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

#assessments {
    margin-top: 0.5%;
    margin-bottom: 2%;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 1%;
    width: 97%;
    padding: 10px;
}

.form-control {
    font-weight: bold;
}
